
input[type=text] {
  background-color: red;
}

input[type=number] {
  background-color: yellow;
}

input[name=password]{
  background-color: purple;
}

button{
  width: 200px;
  height: 100px;
  font-size: 24px;
  background-color: magenta;
}

button:hover{
  background-color: orange;
}

a::before{
  content: "\2615 Jump to: ";
}

p::selection{
  background-color: #efefef;
  color: #01ef09;
}

/* Adjacent Sibling Selector */
div + p {
    background-color: yellow;
}



@media (min-width: 524px) {
  body {
    background-color: red;
  }
}

@media (max-width: 525px) {
  body {
    background-color: green;
  }
}

@media (min-width: 524px) {
  body > h1::before {
    content: "Welcome to My Web Page!";
  }
}

@media (max-width: 525px) {
  body > h1::before {
    content: "Welcome!";
  }
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.container > div{
  background-color: skyblue;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 180px;
  height: 200px;
  overflow: auto;
}

.grid{
  background-color: green;
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 39% 59%;
}

.grid-item{
  background-color: white;
  font-size: 20px;
}
